# Archives
*.zip

# Blender backups
*.blend1

# Blender autosaves
*.blend@

# Build output
build/
*.exe

# Working assets
assets/images/TingoBingo/head/RawFiles/
assets/images/TingoBingo/head/Renders/